
.orta_alan_tarif {
    display:
    width: 95%;
    justify-content: space-around;
}
.orta_tarif {
    width: 30%;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin:0 1% 0 2%;
    box-sizing: border-box;
    background: #d0e8f2;
    word-wrap:break-word;
    text-align: center;
    padding: 5px;
    float: left;
}
    
    
}
.içerik_tarif {
    display:;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.orta_tarif a {text-decoration: none;}

.orta_tarif img{width: 100%;}










.orta_tarif1 {
    width: 65%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 0 0 0 0px;
    box-sizing: border-box;
    background: #d0e8f2;
    word-wrap:break-word;
    text-align: center;
    padding: 5px;
    float: right;
}
    
    
}
.içerik_tarif1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

}




.orta_tarif2 {
    width: 95%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 25px 0 0 0;
    box-sizing: border-box;
    background: #d0e8f2;
    word-wrap:break-word;
    text-align: left;
    padding: 15px;
    float: right;
}
    
    
}
.içerik_tarif2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

}


.orta_tarif3 {
    width: 95%;
    border: 0px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 25px 0 0 0;
    box-sizing: border-box;
    background:#fcf8ec;
    word-wrap:break-word;
    text-align: left;
    padding: 15px;
    float: right;
    height: 100px;
}






@media only screen and (max-width:768px)
{
.orta_tarif
{
    width: 100%;
}
.orta_tarif1
{
    width: 100%;
    margin-top: 25px;
}
 



   } 


